<footer>
                <div class="policy-box">
                <ul>
                    <li><a href="http://iagovelasco.github.io">© Iago Velasco 2016 .</a></li>
                </ul>
                    
                </div>
                <!-- footer social -->
                <div class="footer-social">
                    <ul>
                        <li><a href="https://www.facebook.com/rerstudiocasamentos/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <!--<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>-->
                    </ul>
                </div>
                <!-- footer social end -->
                <div class="to-top"><i class="fa fa-angle-up"></i></div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins.js"></script>
        <script type="text/javascript" src="/assets/js/scripts.js"></script>