<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>RISE-Multipurpose Html Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Bootstrap Css -->
    <link href="/assets/bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">
    
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
         <script src="/assets/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/assets/js/modernizr-custom.js" type="text/javascript"></script>
        <script src="/assets/js/Note_this_400.font.js" type="text/javascript"></script>
    <!-- Style -->
    <link href="/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/assets/plugins/Lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="/assets/plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link href="/assets/plugins/animate.css/animate.css" rel="stylesheet">
   
        <script type="text/javascript">
            Cufon.replace('span');
            Cufon.replace('h1', {
                textShadow: '0px 1px #ddd'
            });
        </script>

    <link href="/assets/css/main.css" rel="stylesheet">
    <!-- Icons Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>