        <!--Loader  -->
        <div class="loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></div>
        <!--LOader end  -->
        <!--================= main start ================-->
        <div id="main" style="opacity: 1;">
            <!--=============== header ===============-->
            <header>
                <!-- Header inner  -->
                <div class="header-inner">
                    <!-- Logo  -->
                    <div class="logo-holder">
                        <a href="/{{ site.baseurl }}"><img src="/assets/images/logo.png" alt=""></a>
                    </div>
                    <!--Logo end  -->
                    <!--Navigation  -->
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="show-share isShare">Compartilhar</div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li><a href="/{{ site.baseurl }}">Home</a></li>
                                <li><a href="/{{ site.baseurl }}portfolio">Portfolio</a></li>
                                <li><a href="/{{ site.baseurl }}sobre">Sobre </a></li>
                                <li><a href="/{{ site.baseurl }}contato">Contato</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--navigation end -->
                </div>
                <!--Header inner end  -->
            </header>